h1 {
    font-size:x-large;
    letter-spacing: 3px;
    color:rgb(0, 1, 1);
    text-align: center;
    font-family: "Helvetica Neue";
}

p {
    text-align: center;
    font-family: "Helvetica Neue";
}

a {
    text-align: center;
    font-family: "Helvetica Neue";
}

